body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url('/assets/vs.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.pokemon-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.pokemon-card {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
