/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #2c3e50;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor principal */
#container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    text-align: center;
}

/* Lista dinámica */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 15px;
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Efecto hover en los elementos de la lista */
li:hover {
    background-color: #bdc3c7;
}

/* Botón */
button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s;
    margin-top: 20px;
}

/* Efecto hover en el botón */
button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

/* Efecto al hacer clic en el botón */
button:active {
    background-color: #1d6fa5;
    transform: translateY(0);
}

/* Responsivo */
@media (max-width: 768px) {
    #container {
        width: 90%;
    }
}

.hp {
    color: aqua;
}