@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Tiny5&display=swap');


body {
    font-family: 'Tiny5', sans-serif;
    background-image: url(../../img/fondo.webp);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    max-width: 1200px;
    width: 100%;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}
.buttons-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.action-button {
    font-family: 'Tiny5', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
}

#next-button {
    background-color: #3365A6;
}

#next-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#next-button:hover:not(:disabled) {
    background-color: #254b7a;
}

#random-button {
    background-color: #F21B2D;
}

#random-button:hover {
    background-color: #c41624;
}
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 15px; 
    padding: 10px;
    overflow-y: auto; 
    max-height: 80vh;
}

.pokemon-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    width: 90px;
    height: 180px;
}

.pokemon-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.pokemon-card h3 {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
}

.pokemon-card p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.pokemon-card.shiny {
    background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgb(255, 237, 77) 100%);
    box-shadow: 0 4px 8px rgba(218, 165, 32, 0.2);
}

.pokemon-card.shiny:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(240, 181, 32, 0.3);
}
.pokemon-card.selected {
    border: 5px solid #FAC100;
    background-image: url(../../img/paisaje.card.select.jpg);
}

.pokemon-type-normal { background-color: #A0A2A0; }
.pokemon-type-fire { background-color: #E72324; }
.pokemon-type-water { background-color: 	#2481F0; }
.pokemon-type-electric { background-color: #FAC100; }
.pokemon-type-grass { background-color: #3DA224; }
.pokemon-type-ice { background-color: #3DD9FF; }
.pokemon-type-fighting { background-color: 	#FF8100; }
.pokemon-type-poison { background-color: #923FCC; }
.pokemon-type-ground { background-color: 	#92501B; }
.pokemon-type-flying { background-color: #82BAF0; }
.pokemon-type-psychic { background-color: #EF3F7A; }
.pokemon-type-bug { background-color: #92A212; }
.pokemon-type-rock { background-color: #B0AB82; }
.pokemon-type-ghost { background-color: #713F71; }
.pokemon-type-dragon { background-color: 	#4F60E2; }
.pokemon-type-dark { background-color: #4F3F3D; }
.pokemon-type-steel { background-color: #60A2B9; }
.pokemon-type-fairy { background-color:	#EF71F0; }